<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="/">Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'customers' %}active{% endif %}" href="/customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'products' %}active{% endif %}" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'quotes' %}active{% endif %}" href="/quotes">Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'users' %}active{% endif %}" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'appointments' %}active{% endif %}" href="/appointments">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" href="/dashboard">Dashboard</a>
            </li>
        </ul>

        <!-- <span class="navbar-text text-white">
            Admin
        </span> -->
    </div>
</nav>
